@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cabezera{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffbe8f;

}
.cabezera-texto{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cabezera-imagen{
    width: 60%;
    height: 100%;
    border-radius: 0 0 0 40vh;
    background-color: #FFD3B4;
}
.navegacion{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Dongle', sans-serif;
    font-size: 4vh;
    justify-content: space-around;
}
.navegacion a{
    color: black;
    text-decoration: rgb(150, 0, 0) underline;
}
.navegacion i{
    color: rgb(150, 0, 0);
}
.cabezera-texto img{
    width: 10vh;
}
.imagen-dos{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imagen-dos img{
    height: 100%;
}
.texto-principal{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-principal h2{
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 50%;
    font-size: 5vh;
    margin-left: 4vw;
}
.texto-principal p{
    font-family: 'Dongle', sans-serif;
    font-size: 4vh;
    margin-left: 4vw;
}
.navegacion-imagen{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
    font-family: 'Mochiy Pop P One', sans-serif;
}
main{
    background-color: #ffbe8f;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-uno{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 10vh 0;
}
.article-imagen{
    width: 30%;
    display: flex;
}
.article-texto{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-article{
    width: 70%;
}
.texto-article h2{
    font-size: 5vh;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: rgb(150, 0, 0);
}
.texto-article p{
font-size: 2vh;
font-family: 'Mochiy Pop P One', sans-serif;
text-align: justify;
padding-top: 2vh;
}
.pie-pagina{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 30vh;
}
.pie-fondo-uno{
    width: 60%;
    background-color: #ffbe8f;
}
.pie-fondo-dos{
width: 40%;
background-color: #FFD3B4;
}
.pie-texto{
    width: 100%;
    height: 100%;
    border-radius: 0 50% 0 0;
    background-color: #FFD3B4;
    display: flex;
    align-items: center;
}
.pie-iconos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffbe8f;
    border-radius: 0 0 0 17.5vh;
}
.img-pie-logo{
    display: flex;
    width: 35%;
    height: 60%;
    align-items: center;
    justify-content: center;
}
.img-pie-logo img{
    width: 50%;
}
.pie-nosotros{
    display: flex;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
}
.pie-nosotros h3{
    font-size: 3vh;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: rgb(150, 0, 0);
}
.pie-nosotros p{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 0.90em;
}
.pie-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
    font-size: 0.90em;
    height: 60%;
}
.pie-nav a{
    color: black;
    text-decoration: 2px rgb(150, 0, 0) underline;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.pie-iconos{
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.pie-iconos a{
    color: rgb(150, 0, 0);
}
.container {
    position: relative;
    width: 320px;
    margin-top: 5vh;
    margin-left: 40%;
    perspective: 1000px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(197, 197, 197, 0.342);
    display: flex;
    color: white;
    font-family: 'Dongle', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
}
span {
    margin: auto;
    font-size: 2rem;
    text-shadow: 2px 2px 2px  black;
}
.carousel__face:nth-child(1) {
    transform: rotateY(  51.42deg) translateZ(360px); 
}
.carousel__face:nth-child(2) { 
    transform: rotateY( 102.84deg) translateZ(360px); 
}
.carousel__face:nth-child(3) {
    transform: rotateY( 154.26deg) translateZ(360px); 
}
.carousel__face:nth-child(4) {
    transform: rotateY(205.68deg) translateZ(360px); 
}
.carousel__face:nth-child(5) { 
    transform: rotateY(257.1deg) translateZ(360px); 
}
.carousel__face:nth-child(6) { 
    transform: rotateY(308.52deg) translateZ(360px); 
}
.carousel__face:nth-child(7) { 
    transform: rotateY(360deg) translateZ(360px); 
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}
.main-articulos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-contenedor{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.carousel-contenedor{
    height: 50vh;
    width: 100%;
    background-color: #FFD3B4;
    border-radius:0 0 20vh 20vh ;
}
.unidades{
    margin-bottom: 0;
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    font-size: 3em;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #FFD3B4;
    border-radius: 50vh 50vh 0 0 ;
}
.articulos{
    padding-top: 2em;
    display: flex;
    padding-bottom: 2em;
    width: 75%;
}
.precio-stock{
    display: flex;
    justify-content: space-between;
}
.precio-stock p{
    font-weight: 800;
}
.card-body{
    font-family:'Dongle', sans-serif ;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    background-color:#FFD3B4; 
    border-radius: 2em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.158);
    height: 100%;
}
.card img{
    border-radius: 2em;
    height: 50vh;
}
.button{
    border: none;
    border-radius: 2vh;
    padding: 0.2em;
    background-color: #FF8B96;
    color: white;
    text-decoration: none;
    padding: 0 0.5em 0 0.5em;
    display: flex;
    align-items: center;
}
.button:hover{
    color: black;
}
.contenedor-mercado{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.contenedor-mercado-filtro{
    width: 20%;
    padding-top: 2em;
}
.form-check-input:checked {
    background-color: #FF8B96;
    border-color: #FF8B96;
}
.form-check-input{
    background-color:#FFD3B4 ;
}
.form-check{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 7vh;
    margin-top: 0.5em;
    border-radius: 0.5em;
    font-family:'Dongle', sans-serif ;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.texto-maximo{
    width: 100%;
    border-radius: 0.5em;
    height: 5vh;
}


/* fondo para formulario */
.fondo-form{
    background-color: rgb(255, 255,255,0.3);  
    backdrop-filter: blur(20);
    border: solid 1px rgba(255, 255,255,0.5); 
    padding: 2rem ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 20px;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    background: #fff3ea;
    border: none;
    font-size: 12px;
    margin-bottom: 1rem;
    display: block;
}
.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus{
border-bottom: 2px solid #ff7a1b;
}
.formulario textarea{
    min-height: 100px;
    max-height: 100px;
    min-width: 400px;
    max-width: 400px;
}
.fondo-map{
    height: 400px;
    width: 400px; 
    margin-top: 10rem;
    margin-left: 3rem;
    border-radius: 20px;
}
.margen{
    padding-bottom: 2rem;
}
.formulario input[type="submit"]{
    width: 100px;
    margin: 0 auto;
    background: rgba(248, 140, 39, 0.575);
    border: 1px solid #ffbe8f;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: #361903;
    font-size: 18px;
}
.formulario input[type="submit"]:hover {
    background: #ff6c03;
    color: #fff;
}
.formulario input[type="radio"]{
    display: none;

}
.formulario input[type="radio"]:checked +.radio{
    background: rgba(248, 140, 39, 0.575);

}
.formulario .mascota{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 10px;
}
.formulario .mascota .radio{
    background: rgba(255, 255,255,0.5);
    color:black;
    padding: 10px;
    text-align: center;
    width: 32.5%;
}
.formulario .perro{
    border-radius: 5px 0 0 5px;
}
.formulario .mascota .otro{
    border-radius: 0 5px 5px 0;
}
.error{
    display: none;
    border-radius: 3px;
    background: #ff2323;
    color: #fff;
    padding: 15px 20px;
    margin-bottom: 1rem;
}
.btn{
    display: flex;
    justify-content: center;
}
/* modal */
.modal-conteiner{
    display: flex;
    background-color:#FFD3B4;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 30%;
    left: 40%;
    text-align: center;
    border-radius: 15px;
    opacity: 0;
}
.show{
    pointer-events: auto;
    opacity: 1;
}
.modales{
    /* background-color: rgba(241, 165, 66, 0.5); */
    border-radius: 20px;
    color: rgb(255, 77, 45);
    font-size: 30px;
    box-shadow: 0 6px 5px;
    padding: 1rem;
}
.close{
    width: 100px;
    margin: 0 auto;
    background: rgba(248, 140, 39, 0.575);
    border: 1px solid #ffbe8f;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: #361903;
    font-size: 18px;
}
.ultimas-unidades{
    color:rgb(150, 0, 0);
    text-shadow: 0 0 0 ;
}
df-messenger {
    --df-messenger-bot-message: #b8c4ee;
    --df-messenger-button-titlebar-color: #ffbe8f;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: rgb(5, 5, 5);
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #82bd7c;
   }
